body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.topnav {
  background-color: #444;
  overflow: hidden;
  text-align: center;
}

.topnav a:hover {
  background-color: #555;
  color: #fff;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.column {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

.artist-img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}

@media only screen and (max-width: 768px) {
  .row {
      grid-template-columns: 1fr;
  }
}

ul {
  list-style-type: none;
}

a {
  color: #000; 
  text-decoration: none; /
}


a:visited {
  color: #800080; 
}


a:hover {
  color: #ff4500; 
}

a:focus {
  outline: none; 
}

a:active {
  color: #008000; 
}


#input-value{
  color: black;
  background-color: whitesmoke;
  
}

#submit{
  color: black;
  background-color: whitesmoke;
  
}
